---
import "../styles/variables.css";
import "../styles/reset.css";
import "../styles/global.css";
import { getRelativeLocaleUrl } from 'astro:i18n';
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

function getRelativeCurrentLocaleUrl(path?: string): string {
  return getRelativeLocaleUrl(Astro.currentLocale!, path)
}

const navLinks = [
  { title: "Works", url: getRelativeCurrentLocaleUrl("works") },
  { title: "Posts", url: getRelativeCurrentLocaleUrl("posts") },
];

const socialLinks = [
  { icon: "mdi:github", url: "https://github.com/wasabi315" },
  { icon: "mdi:gitlab", url: "https://gitlab.com/wasabi315" },
  { icon: "mdi:twitter", url: "https://twitter.com/wasabi__315" },
  { icon: "mdi:instagram", url: "https://www.instagram.com/wasabi__315/" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta property="og:site_name" content="wasabi315" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/og-image.png" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <title>{title} :: wasabi315</title>
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-BKFJQG08WT"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-BKFJQG08WT");
    </script>
  </head>
  <body>
    <header>
      <Icon class="hamburger" name="mdi:hamburger-menu" size={32} />
      <div class="home">
        <a href={getRelativeCurrentLocaleUrl()}> wasabi315 </a>
      </div>
      <nav class="nav-links">
        {navLinks.map(({ title, url }) => <a href={url}>{title}</a>)}
      </nav>
    </header>
    <div class="sidebar">
      <nav class="nav-links">
        {navLinks.map(({ title, url }) => <a href={url}>{title}</a>)}
      </nav>
    </div>
    <main>
      <slot />
    </main>
    <footer>
      <div class="copyright-notice">
        © {new Date().getFullYear()} Satoshi Takimoto. All rights reserved.
      </div>
      <div class="social-links">
        {
          socialLinks.map(({ icon, url }) => (
            <a href={url}>
              <Icon name={icon} size={20} />
            </a>
          ))
        }
      </div>
    </footer>
  </body>
</html>

<script>
  document.querySelector(".hamburger")?.addEventListener("click", () => {
    document.querySelector(".sidebar")?.classList.toggle("hide");
  });
</script>

<style lang="scss">
  body {
    padding-inline: 1rem;
    min-height: 100vh;
  }

  header {
    position: sticky;
    top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #fffffff5;
    z-index: 100;

    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  header .hamburger {
    cursor: pointer;
  }
  header .home {
    font-size: 1.5rem;
    font-weight: bold;
  }
  header .nav-links {
    display: none;
  }

  .sidebar.hide {
    display: none;
  }
  .sidebar {
    position: fixed;
    top: 4rem;
    bottom: 0;
    left: 0;
    width: 15rem;
    padding: 1rem;
    z-index: 50;

    background-color: #fffffff5;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sidebar .nav-links {
    display: flex;
    flex-direction: column;
  }

  main {
    margin-top: 2rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 3rem;
  }
  footer .copyright-notice {
    text-align: center;
    font-size: 0.75rem;
  }
  footer .social-links {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
  }

  .nav-links a {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .home a,
  .nav-links a,
  .social-links a {
    color: inherit;
    &:hover,
    &:focus {
      color: var(--accent);
    }
  }

  @media screen and (min-width: 768px) {
    body {
      margin: 0 auto;
      width: 960px;
      max-width: 100%;
    }

    header .hamburger {
      display: none;
    }
    .sidebar {
      display: none;
    }

    header {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    header .home {
      font-size: 1.75rem;
      flex: 1;
    }
    header .nav-links {
      flex: 0;
      display: flex;
      justify-content: center;
      gap: 1rem;
      width: auto;
    }

    main {
      margin-top: 3rem;
    }

    footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>
