---
import type { CollectionEntry } from "astro:content";
import Layout from "./BaseLayout.astro";
import MarkdownRenderer from "../components/MarkdownRenderer.astro";
import Tag from "../components/Tag.astro";
import Utterances from "../components/Utterances.astro";

type Props = {
  frontmatter: CollectionEntry<"posts">["data"];
};

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <Fragment slot="head">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
      crossorigin="anonymous"
    />
  </Fragment>
  <main>
    <article>
      <header>
        <h1>{frontmatter.title}</h1>
        <p>
          <time>{frontmatter.date}</time>
          -
          {frontmatter.tags.map((tag) => <Tag tag={tag} />)}
        </p>
      </header>
      <MarkdownRenderer>
        <slot />
      </MarkdownRenderer>
      <footer>
        <Utterances />
      </footer>
    </article>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: 0 auto auto;
    width: 960px;
    max-width: 100%;
  }

  header {
    margin-bottom: 2rem;
    h1 {
      font-size: 2.25rem;
    }
    p {
      color: rgb(var(--ui2));
    }
  }

  footer {
    margin-top: 3.5rem;
  }
</style>
